*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
/.go-cache
/.go-mod-cache
/.go-telemetry
/third_party/croc-src/build
